.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 300px;
    padding: 2rem;
    border-radius: 20px;

    &__container {
        &:last-of-type {
            align-items: center;
        }

        &--range {
            max-width: 240px;
        }

        &--graph {
            height: 150px;
            align-items: flex-end;
        }
    }

    &__title {
        font-size: 2.4rem;
    }

    &__subtitle {
        font-size: 1.6rem;
    }

    &__text {
        font-size: 1.4rem;
    }

    &__options {
        @include grid-center;
        width: 40px;
        height: 40px;
        padding: 0;
        border: none;
        border-radius: 20px;
        background-color: transparent;
        transition: background-color 0.3s ease-out;
    }

    &__range {
        font-size: 1.4rem;
        opacity: 0.5;
        transition: opacity 0.3s ease-out;

        &:hover, &--active {
            opacity: 1;
        }
    }

    &__graph {
        position: relative;
        height: var(--height);
        border: darken($color: $blue, $amount: 10%) 2px solid;
        cursor: pointer;

        &:hover{ 
            border-color: darken($color: $blue, $amount: 15%);

            .card__indicator {
                opacity: 1;
                z-index: 2;
            }
        }
    }

    &__indicator {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        border: white 2px solid;
        background-color: darken($color: $blue, $amount: 10%);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-out;

        &::before {
            content: '$27 482.00';
            position: absolute;
            left: 0;
            top: -10px;
            transform: translate(-45%, -100%);
            padding: 5px 15px;
            background-color: $black;
            border-radius: 20px;
            font-size: 1.4rem;
            font-weight: 600;
            color: white;
            white-space: nowrap;
        }

        &::after {
            content: '';
            position: absolute;
            top: -11px;
            left: -1px;
            border-top: $black 7px solid;
            border-left: transparent 7px solid;
            border-right: transparent 7px solid;
        }
    }

    &--green {
        background-color: $green;

        .card__text {
            color: darken($color: $green, $amount: 30%);
        }

        .card__options:hover {
            background-color: darken($color: $green, $amount: 10%);
        }
    }

    &--purple {
        background-color: $purple;

        .card__text {
            color: darken($color: $purple, $amount: 30%);
        }

        .card__options:hover {
            background-color: darken($color: $purple, $amount: 10%);
        }
    }

    &--yellow {
        background-color: $yellow;

        .card__text {
            color: darken($color: $yellow, $amount: 30%);
        }

        .card__options:hover {
            background-color: darken($color: $yellow, $amount: 10%);
        }
    }

    &--blue {
        background-color: $blue;

        .card__text {
            color: darken($color: $blue, $amount: 30%);
        }

        .card__options:hover {
            background-color: darken($color: $blue, $amount: 10%);
        }
    }
}

.cards-wrapper {
    .card + .card {
        margin-top: 2rem;
    }

    @media (min-width: $medium) {
        display: flex;
        column-gap: 2rem;

        .card + .card {
            margin: 0;
        }
    }
}