header {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

header.header {
    width: 100%;
    margin: 2rem auto;
    align-items: center;

    .btn {
        margin: 0 10px;

        &:last-child, &:first-child {
            margin: 0;
        }
    }

    .btn--profile p {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            top: 50%;
            transform: translate(3px, -50%);
            background-image: url('../assets/icon_arrowDown.svg');
        }
    }

    @media (min-width: $small) {
        h1 {
            font-size: 2.8rem;
        }
    }

    @media (max-width: 400px) {
        flex-direction: column-reverse;
        align-items: flex-start;

        > .flex-between {
            align-self: flex-end;
        }
    }
}