.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    &__icon {
        margin: 0 5px;
        opacity: 0.5;
        transition: opacity 0.3s ease-out;

        &:hover {
            opacity: 1;
        }
    }

    &__logoContainer {
        display: grid;
        place-items: center;
        width: 45px;
        height: 45px;
        border-radius: 15px;
        background-color: $yellow;

        &:hover .nav__logo{
            transform: scale(1.1);
        }
    }

    &__logo {
        transition: transform 0.3s ease-out;
    }

    @media (min-width: $small) {
        &__link {
            margin: 0 15px;
        }        
    }

    @media (min-width: $medium) {
        flex-direction: column;
        height: 100%;
        width: 80px;
        margin: 20px;
        margin-left: 0;

        &__logoContainer {
            width: 70px;
            height: 70px;
        }

        &__link {
            display: block;
            width: fit-content;
            margin: 40px auto;
        }
    }
}