$black: #202020;
$gray: #959595;

$blue: #E6F2FE;
$green: #D6EDD9;
$purple: #E5DEF0;
$yellow: #F6F0D8;

//Breakpoints
$small: 685px;
$medium: 1024px;

@mixin grid-center {
    display: grid;
    place-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@import './card';
@import './ad';
@import './market';
@import './nav';
@import './header';

*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: inherit;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    padding: 2rem;
    padding-bottom: 7rem;
    min-height: 100vh;
    color: $black;
    overflow-x: hidden;
    background-color: $black;

    @media (min-width: $medium) {
        padding-bottom: 2rem;
        padding-left: 9rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;

    @media (min-width: $medium) {
        min-height: calc(100vh - 4rem);
    }
}

.max-bound {
    max-width: 1500px;
    margin: 0 auto;
}

.inner-wrapper {
    width: 100%;

    @media (min-width: $small) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;

        #ad-section {
            grid-column: 2 / 3;
        }

        #cards-section {
            grid-column: 1 / 3;
        }

        #market-section {
            grid-column: 1 / 3;
        }
    }

    @media (min-width: $medium) {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;

        #portfolio-section{
            grid-column: 1 / 3;
        }

        #ad-section {
            grid-column: 4 / 6;
            grid-row: 2 / 3;
        }

        #cards-section {
            grid-column: 3 / 6;
        }

        #market-section {
            grid-column: 1 / 4;
        }
    }
}

section {
    margin-bottom: 2rem;

    @media(min-width: $small) {
        margin-bottom: 0;
    }
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

h2 {
    font-size: 2.4rem
}

.icon {
    @include grid-center;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
}

.flex-between {
    @include flex-between;
}

select {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;

    + select {
        margin-left: 2rem;
    }
}

.btn {
    padding: 10px 30px;
    border-radius: 2rem;
    background-color: darken($color: $blue, $amount: 5%);
    font-size: 1.4rem;
    font-weight: 600;
    color: $black;
    transition: background-color 0.3s ease-out;

    &--round {
        @include grid-center;
        background-color: $blue;
        width: 40px;
        height: 40px;
        padding: 0;
    }

    &--profile {
        position: relative;
        padding: 0 3rem 0 4.5rem;
        width: fit-content;

        img {
            height: 50px;
            width: 50px;
            position: absolute;
            bottom: 10px;
            left: -10px;
        }
    }

    &:hover {
        background-color: darken($color: $blue, $amount: 10%);
    }
}